mlruns
__pycache__
supplemental_images
supplemental_masks
test_images
train_images
train_masks
analysis/models
analysis/preds*
analysis/splits
analysis/preprocessed_*
analysis/train_forged_overlays
analysis/supplemental_forged_overlays
mlartifacts
exps
analysis/embeddings_data/
synth_multipanel/
